<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf"
      layout:decorator="layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Zundoko</title>
</head>
<body>
    <div layout:fragment="content">
        <div th:each="song : ${songs}">
            <a th:href="@{'/' + ${song.className}}" th:text="${song.name}" class="btn btn-default" style="margin:8px;"></a>
        </div>
    </div>
</body>
</html>